@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden w-screen h-[100dvh] bg-slate-900 text-white touch-none select-none;
  }
  #root {
    @apply w-full h-full flex flex-col items-center justify-center;
  }
}
